header hgroup {
  font-size:2.2em;
  font-family:"PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  font-weight:normal;
  line-height:1.2em;
  position: relative;
}

header img {
  margin-top: 48px;
  float: right;
  height: 72px;
}

body > header{
font-size:1em;
padding-top:1.5em;
padding-bottom:1.5em;
padding-left:5em;
padding-right:5em;
background-color:#333;
color:#aaa;
}

